@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

:root {
  --primary-font: "DM Sans", sans-serif;
  --soft-red: hsl(10, 79%, 64%);
  --cyan: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(30, 100%, 98%);
  --attribution: hsl(228, 45%, 44%);
}

/* General Styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--cream);
  font-family: var(--primary-font);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

span {
  display: block;
}

/* Main */
.main {
  width: min(91.46667%, 343px);
  margin: 6.7rem auto 6.6rem;
}

.header {
  background: var(--soft-red);
  border-radius: 10px;
  padding: 2rem 2rem 2.2rem;
  color: var(--very-pale-orange);
  position: relative;
}

.header::after {
  content: "";
  width: 60px;
  height: 40px;
  background-image: url(../images/logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 2.4rem;
  top: 2.8rem;
}

.caption {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
}

.balance {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
  margin-top: 0.4rem;
}

.container {
  margin-top: 1.6rem;
  border-radius: 10px;
  background: var(--very-pale-orange);
  padding: 2.4rem 2rem;
  color: var(--dark-brown);
}

.container .heading {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.container .caption {
  color: var(--medium-brown);
}

.wrapper {
  border-top: 2px solid var(--cream);
  border-radius: 1px;
  padding-top: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.chart-wrapper {
  margin: 5.2rem 0 2.4rem;
  height: 178px;
  display: flex;
  align-items: flex-end;
}

.total {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.9rem;
}

.caption.percentage {
  font-weight: 700;
  text-align: right;
  color: var(--dark-brown);
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--attribution);
}

/* Media Queries */

@media screen and (min-width: 476px) {
  /* Main */
  .main {
    width: min(91.46667%, 540px);
    margin: 18.2rem auto;
  }

  .header {
    border-radius: 20px;
    padding: 2.7rem 3.2rem 2.5rem;
  }

  .header::after {
    width: 72px;
    height: 48px;
    right: 3.9rem;
    top: 3.9rem;
  }

  .caption {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }

  .balance {
    font-size: 3.2rem;
    line-height: 4.2rem;
    margin-top: 0.8rem;
  }

  .container {
    margin-top: 2.4rem;
    border-radius: 20px;
    padding: 3.2rem 4rem 4rem;
  }

  .container .heading {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }

  .wrapper {
    padding-top: 3.2rem;
  }

  .chart-wrapper {
    margin: 6.6rem 0 3.2rem;
  }

  .total {
    font-size: 4.8rem;
    line-height: 6.2rem;
  }
}

@media screen and (max-width: 300px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
  }

  .caption.percentage {
    text-align: center;
  }
}
